name: Release

on:
  push:
    tags:
      - '*'
      - '!*-build'
  workflow_dispatch:

permissions:
  contents: write
  packages: write

concurrency:
  group: playm8s-crds
  cancel-in-progress: false

defaults:
  run:
    shell: bash

env:
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: "${{ secrets.GH_PAT }}"
          clean: true
          fetch-depth: 1

      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://npm.pkg.github.com"

      - name: NPM publish
        shell: bash
        run: |
          npm install --include=dev --legacy-peer-deps
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create tarball of crds
        shell: bash
        run: |
          tar -cvf crds.tar crds/

      - name: Create Github Release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          generate_release_notes: true
          files: |
            crds.tar

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker (Operator image build)
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=ref,event=tag
            type=raw,value=latest

      - name: Build and Push Operator Image
        uses: docker/bake-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          push: true
          source: .
          files: |
            ./docker-bake.hcl
            cwd://${{ steps.docker_meta.outputs.bake-file }}
          targets: build
